
.tag-contaier {
    background: #FF6060;
    border-radius: 10px;
    width: 30%;
    max-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag--name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;

    text-align: center;
    color: #FFFFFF;
}

@media only screen and (max-width:768px) {
    .tag-contaier {
        width: 20%;
        border-radius: 5px;
    }

    .tag--name {
        font-size: 10px;
    }
}