.star-conaiter {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.star-icon {
    background: #FF6060;
}

.star-icon-gris {
    background: #E3E3E3;
}

@media screen and (max-width: 768px) {
    .star-conaiter {
        gap: 5px;
    }
}