
.cards-container {
    background: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    margin-top: 43px !important;
    box-sizing: border-box;
}

.card--container {
    width: 33.333%;
    height: 340px;
    padding: 25px;
    box-sizing: border-box;
}


@media only screen and (max-width:768px) {
    .cards-container {
        flex-direction: column;
        background-color: white;
        padding: 0;
    }

    .cards-container {
        margin-top: 22px !important;
        gap: 20px;
    }

    .card--container {
        width: 100%;
        padding: 0;
    }
}