.dropdowns {
    margin-top: 31px !important;
    display: flex;
    flex-direction: column;
    gap: 33px;
}

@media only screen and (max-width:768px){
    .dropdowns {
        margin-top: 19px !important;
        gap: 20px;
    }
}