.Dropdownopen-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.Dropdownopen--top {
    display: flex;
    justify-content: space-between;
    background: #FF6060;
    border-radius: 10px;
    width: 100%;
    height: 47px;
}

.Dropdownopen--top-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    margin: auto 0;
    padding-left: 18px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Dropdownopen--top-img {
    margin: auto 0;
    margin-right: 16px;
    width: 14.6px;
    height: 28.6px;
}

.Dropdownopen--top-img.hidden {
    transform: rotate(-180deg);
}

.Dropdownopen--base {
    background: #F7F7F7;
    border-radius: 10px;
}

.Dropdownopen--base-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    margin: 36px 27px 19px 18px;
    
    color: #FF6060;
}

.Dropdownopen--base.hidden {
    display: none;
}

/*Smartphone*/
@media only screen and (max-width:768px){
    .Dropdownopen-container {
        width: 100%;
    }

    .Dropdownopen--top {
        border-radius: 5px;
    }

    .Dropdownopen--top-title {
        font-size: 14px;
    }

    .Dropdownopen--base {
        border-radius: 5px;
    }

    .Dropdownopen--base-text {
        font-size: 12px;
        margin-top: 17px;
    }
}