.Dropdownlarge-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Dropdownlarge--top {
    display: flex;
    justify-content: space-between;
    background: #FF6060;
    border-radius: 5px;
    width: 100%;
    height: 47px;
}

.Dropdownlarge--top-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    margin: auto 0;
    padding-left: 18px;

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.Dropdownlarge--top-img {
    margin: auto 0;
    margin-right: 16px;
    width: 14.6px;
    height: 28.6px;
}

.Dropdownlarge--top-img.hidden {
    transform: rotate(-180deg);
}

.Dropdownlarge--base {
    background: #F7F7F7;
    border-radius: 5px;
}

.Dropdownlarge--base-text {
    margin-top: 27px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    margin: 36px 27px 19px 18px;
    
    color: #FF6060;
}

.Dropdownlarge--base.hidden {
    display: none;
}

/*Smartphone et tablette*/
@media only screen and (max-width:768px) {
    .Dropdownlarge--top-title{
        font-size: 13px;
    }

    .Dropdownlarge--base-text{
        font-size: 12px;
        margin-top: 17px;
    }
}

